:root {
    --blanco: #fff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #26939f;
    --gris: #757575;
}

/* Truco para uniformidad en textos entre navegadores */
html {
    font-size: 62.5%; /* 1rem = 10px */
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    font-family: 'Krub', sans-serif;
    line-height: 1.5;
}

.contenedor {
    max-width: 130rem;
    width: 90%;
    margin: 0 auto; /* Centra el contenedor horizontalmente */
}

.my-title {
    text-align: center;
    font-size: 3.8rem;
}

.my-title span {
    font-size: 2rem;
}

.nav-bg {
    background-color: var(--secundario);
}

.nav-principal {
    /* Flexbox define cómo alinear elementos */
    display: flex;
    justify-content: space-between; /* Distribuye los elementos con espacio entre ellos */
    font-weight: bold;
    font-size: 1.6rem;
}

.nav-principal a {
    color: var(--blanco);
    text-decoration: none;
    padding: 1.6rem;
}

/* Cuando pongo el cursor encima del enlace, cambia el color de fondo */
.nav-principal a:hover {
    background-color: var(--primario);
    color: var(--oscuro);
}